@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-table-cell {
  padding: 3px 12px !important;
  background: #0d1421 !important;
}

* {
  font-weight: 600;
  border-color: #323546 !important;
  color: white;
}

td.ant-table-column-sort {
  background: #0d1421 !important;
}

.ant-table-thead > tr > th {
  color: white !important;
}

.ant-table-row:hover > .ant-table-cell {
  background: #222531 !important;
}

button span {
  color: black !important;
}
